In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"Traffic_Violations.csv")

C:\Users\mikha\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (19,20,21,22,23,24,25,34) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
speeding_stops_df = df[(df['Charge'] == '21-801.1')]

In [14]:
COLS_TO_KEEP = {'Latitude', 'Longitude', 'Race', 'Search Conducted', 'Gender', 'Year'}
COLS_TO_REMOVE = [x for x in df.columns if not x in COLS_TO_KEEP]

speeding_stops_df.drop(COLS_TO_REMOVE, axis=1, inplace=True)

C:\Users\mikha\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [15]:
df.to_csv("Speeding Analysis DATA.csv", index=False)

          Latitude  Longitude Search Conducted    Year      Race Gender
0        38.990102 -77.151645              NaN  2014.0     ASIAN      F
13       39.217362 -77.054525              NaN  2002.0     OTHER      F
18        0.000000   0.000000              NaN  2006.0  HISPANIC      M
19       39.135390 -77.223708              NaN  2008.0  HISPANIC      M
27        0.000000   0.000000              NaN  2004.0     WHITE      F
...            ...        ...              ...     ...       ...    ...
1614643  39.102053 -77.141587               No  2017.0  HISPANIC      F
1614648  39.100862 -77.140647               No  2008.0     BLACK      M
1614831  39.080678 -77.146067               No  2000.0  HISPANIC      M
1614837  39.161215 -77.233587               No  2005.0     WHITE      M
1670272  38.998705 -77.096643              Yes  2007.0     WHITE      F

[209385 rows x 6 columns]